<link href="https://fonts.googleapis.com/css?family=Gothic+A1:500,700,900|Roboto+Mono&display=swap" rel="stylesheet">
<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Main' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="https://note10.github.io/assets/titleimg1.png" alt="" class="">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>
